.banner {
  overflow: visible;
  width: 100%;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 4rem 0;

  .title {
    font-size: 3rem;
    color: var(--heading);
    line-height: 56px;
    font-weight: 700;
  }

  .postInfo {
    display: flex;
    margin: 1.5rem 0 4rem;

    div {
      display: flex;

      svg {
        color: var(--heading);
        margin-right: 0.5rem;
      }

      p,
      time {
        color: var(--info);
      }

      & + div {
        margin-left: 1rem;
      }
    }
  }

  .lastDate {
    color: var(--info);
    font-style: oblique;
    display: block;
    margin-top: -2rem;
  }

  .content {
    h2 {
      font-size: 2.25rem;
      line-height: 1.5rem;
      color: var(--heading);
      margin: 3rem 0;
    }

    p,
    ul {
      margin: 1.5rem;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    p,
    span,
    a,
    ul {
      font-size: 1.125rem;
      color: var(--body);
    }

    a {
      color: var(--pink);
    }
  }
  border-bottom: 1px solid var(--info);
}

.otherPosts {
  max-width: 1120px;
  margin: 0 auto;
  padding: 4rem 0;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: block;
      font-size: 1.4rem;
      color: var(--heading);
    }

    a {
      display: block;
      margin-top: 0.625rem;
      font-size: 1.1rem;
      color: var(--pink);
      transition: filter 4.2;

      &:hover {
        filter: brightness(0.7);
      }
    }

    .boxNextPost a {
      text-align: right;
    }
  }
}

.boxComment {
  max-width: 1120px;
  margin: 0 auto;
}